.landing-page {
  display: flex;
}

/* .side-bar {
  width: 30%
} */

.block-list {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.block-columns {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  align-items: flex-start;
  border-bottom: 1px solid rgb(240, 242, 247);
  font-size: 1.75vh;
}

.height {
  flex-direction: column;
  align-items: flex-start;
  width: 10%;
}

.hash {
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}

.time {
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

/* .block-info-2 a {
  color: rgb(36, 82, 168);
  text-decoration: none;
}

.block-info-2 a:hover {
  text-decoration: underline;
} */

.block {
  display: flex;
  flex-direction: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 0px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid rgb(240, 242, 247);
}

.block-height {
  flex-direction: column;
  align-items: flex-start;
  width: 10%;
}

.block-hash {
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-date {
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

a:link, a:hover, a:visited {
  color: #10ADE4;
  text-decoration: none;
}

/* @media (min-width: 1200px) {
  .block-list {
    min-width: 80%;
  }
}

@media (min-width: 768px) {
  .block-list {
    min-width: 768px;
  }
} */

