.error-message {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.error-message h2, .error-message h3 {
    text-align: center;
}

.error-address {
    font-size: 150%
}