form {
    /* display: flex;
    justify-content: flex-start; */
    position: relative;
    /* color: transparent */
}

form i {
    position: absolute;
    top: 25%;
    left: 1%
}
            
input {
    min-width: 450px; 
    padding: 5px 25px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-left: 30px;
    padding: 8px 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.search-enter-true {
    background-color: rgb(36, 82, 168);
}

.search-enter-true:hover {
    background-color: rgb(21, 49, 102);
    cursor: pointer;
}

.search-enter-false {
    background-color: rgb(86, 122, 189);
}

.search-enter-false:hover {
    cursor: not-allowed;
}


button:focus {outline-color: none}