.single-tx {
  margin-left: 7.5%;
  margin-right: 7.5%;
  min-height: 150px;
}

.tx-hash{
  display: flex;
  padding: .5%;
  border-bottom: 1px solid rgb(43, 40, 40);
  border-top: 1px solid rgb(43, 40, 40);
  font-size: 75%;
  background-color: rgb(243, 237, 237);
}

.tx-hash a:link, .tx-hash a:visited {
  text-decoration: none;
  color: rgb(36, 82, 168);
}

.tx-summary-row {
  /* margin-left: 2%; */
  font-size: 90%;
  border-bottom: 1px solid rgb(43, 40, 40);
  border-top: 1px solid rgb(43, 40, 40);
}

.tx-summary-row p {
  margin-left: 2%;
}

.tx-time {
  margin-left: auto;
}

ul {
  list-style-type: none;
}

.tx-info {
  display: flex;
  flex-direction: flex-start;
  font-size: 90%;
}

.error-output {
  color: red;
}

.tx-arrow-green {
  margin-top: auto; 
  margin-bottom: auto;
  font-size: 150%;
  font-weight: bolder;
  color: green;
  width: 10%;
}

.tx-arrow-red {
  margin-top: auto; 
  margin-bottom: auto;
  font-size: 150%;
  font-weight: bolder;
  color: red;
  width: 10%;
}

.tx-value {
  min-width: 110px;
  margin: auto;
  padding: 1% 1%;
  background-color: rgb(107, 180, 107);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.tx-value.red {
  background-color: rgb(177, 51, 51);
}

.tx-value.green {
  background-color: rgb(107, 180, 107);
}

.in-addr-col {
  width: 40%;
}

.in-addr-col a:link, .in-addr-col a:visited {
  text-decoration: none;
  color: rgb(36, 82, 168);
}

.out-addr-col {
  width: 37.5%
}

.out-addr-col a:link, .out-addr-col a:visited {
  text-decoration: none;
  color: rgb(36, 82, 168);
}

a:link, a:hover, a:visited {
  color: rgb(36, 82, 168);
  text-decoration: none;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
}