.tx-page {
  position: relative;
  top: 150px;
}

.tx-desc {
  width: 90%;
  margin: auto;
  display: flex;
  padding-bottom: 18.72px;
}

.tx-desc-1 {
  width: 45%;
  margin: auto;
}

.tx-summary h3 {
  margin-left: 0%;
}

.tx-desc-2 {
  width: 45%;
  margin: 0% auto;
  padding-bottom: 18.72px;
}

.tx-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(43, 40, 40);
}

.tx-row:nth-child(2n) {
  background-color: rgb(243, 237, 237);
}

.tx-row p {
  flex-direction: start;
  align-items: flex-start;
  width: 50%;
  font-size: 90%;
  margin-left: 2%;
}

.tx-row p:nth-child(2n) {
  margin-right: 2%;
  text-align: right;
}

.tx-row.last {
  border-bottom: none;
}