.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
  pointer-events: none;
  height: 150%
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------- HEADER ------- */

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(13, 13, 70);
  height: 10vh;
  z-index: 5;
}

.prim-nav-logo {
  display: flex;
  margin-left: 10%;
  text-decoration: none;
}

.prim-nav-logo a {
  margin-top: auto;
  margin-bottom: auto;
}

.home-button {
  font-size: 4vh;
  padding-left: 15%;
  color: white;
}

.home-button a {
  cursor: pointer;
}


/* ------- LANDING PAGE ------- */

.landing-page {
  display: flex;
}

.side-bar {
  width: 30%
}

.block-list {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 45%
}

.block-columns {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  align-items: flex-start;
  border-bottom: 1px solid rgb(240, 242, 247);
  font-size: 1.75vh
}

.height {
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
}

.hash {
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.time {
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

a {
  color: rgb(36, 82, 168);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block {
  display: flex;
  flex-direction: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 0px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid rgb(240, 242, 247);
}

.block-height {
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
}

.block-hash {
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.block-date {
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

/* ------ Block Page ----- */

.single-block {
  padding-top: 7%;
}

.block-info {
  display: flex;
  justify-content: space-evenly
}

.block-info-1 {
  width: 35%;
  min-width: 500px;
}

.summary {
  font-weight: bold;
}

h3 {
  font-size: 200%;
  margin-left: 7.75%
}

.block-summary-row {
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgb(43, 40, 40);
  border-top: 2px solid rgb(43, 40, 40);
}

.block-summary-row p {
  margin-left: 2%;
}

.row {
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgb(43, 40, 40);
}

.row:nth-child(2n) {
  background-color: lightgray
}

.row p {
  flex-direction: start;
  align-items: flex-start;
  width: 50%;
  font-size: 90%;
  margin-left: 2%;
}

.block-info-2 {
  width: 35%;
  min-width: 600px;
}

.block-info-2 div p {
  width: 15%
}

.block-info-2 div .block-hash {
  font-size: 80%;
  margin-top: auto;
  margin-bottom: auto;
}